* {
    box-sizing: border-box;
}

p {
    color: blue;
}

body {
    background-color: #ffe2b0;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    text-align: center;
    padding: 0px;
}

li {
    display: inline;
    margin-right: 100px;
}

li:last-child {
    margin: 0px;
}

a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    margin-top: 50px;
}

a:hover {
    color: red;
}

nav {
    margin-bottom: 20px;
}

.section-about {
    height: 640px;
    background: url(../img/01-Картинка-фона.jpg) center/cover no-repeat scroll;
    position: relative;
    margin-bottom: 20px;
}

.section-about_blok {
    width: 420px;
    height: 190px;
    background: linear-gradient(180deg, rgba(244, 213, 178, 0.8) 0%, rgba(234, 156, 65, 0.8)100%);
    position: absolute;
    top: 54%;
    left: 50%;
    padding: 15px;
}

.section-about_border {
    width: 390px;
    height: 160px;
    border: 1px solid black;
    margin: 0px auto;
    padding: 17px 0 0 28px;
    text-align: left;
}

.section-about_title {
    font-size: 36px;
    margin: 0px;
}

.section-about_text {
    font-size: 12px;
    margin: 0px;
}

.section-description {
    margin-bottom: 20px;
}

.section-description_icon_box {
    text-align: center;
    margin-bottom: 20px;
}

.section-description_icon_box img {
    margin-right: 76px;
}

.section-description_icon_box img:last-child {
    margin-right: 0px;
}

.section-description_text_box {
    text-align: center;
}

.section-description_title {
    font-size: 96px;
    margin: 0;
    text-align: center;
}

.red {
    color: red;
}

.section-description_text2 {
    color: black;
    size: 18px;
    text-align: center;
    margin: 0;
    width: 1000px;
    margin: 0 auto;
}

.section-map {
    margin-bottom: 20px;
}

.section-map-title {
    margin-bottom: 20px;
    text-align: center;
    font-size: 36px;
    font-family: philosoper;
}

iframe {
    display: block;
    margin: 0 auto;
}

.line {
    border-top: 1px solid #999999;
    width: 1024px;
    margin: 0 auto;
    margin-bottom: 20px;
}

footer {
    height: 80px;
}